@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');



*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.section-stories{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-stories .section-header{
    font-family: 'Gravitas One';
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;    
}
.card_content{
    padding: 0 30px;
}
.card_stories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}
.icon svg{
    fill:#dceddd;
    width: 50px;
    height: 50px;
}
.card_content{
    padding: 20px 0;
}
